#stage {
  background-image: url(css_animation_exercise_4.png);
  height: 600px;
  width: 600px;
}

#hero {
  height: 75px;
  border: 1px dashed red;
  width: 75px;
  left: 10px;
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
    0%   {top: 20px; left: 20px;}
    20%  {top: 20px; left: 500px;}
    40%  {top: 200px; left: 500px; transform: rotate(0deg);}
    60%  {top: 200px; left: 268px; transform: rotate(45deg); border: 1px dashed red;}
    80%  {top: 200px; left: 20px; border: 1px dashed #0900BD; background: none; border-radius: 0; height: 75px; width: 75px;}
    100% {top: 445px; left: 445px; border-radius: 100px; background: linear-gradient(#F76B1C, #FBDA61); height: 150px; width: 150px;}
}
